@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
}

.box {
	width: 90vw;
	height: 500px;
	background-color: rgb(224, 168, 95);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}